SomePractice.xcodeproj/project.pbxproj
SomePractice.xcodeproj/project.xcworkspace/xcuserdata/dimash.xcuserdatad/UserInterfaceState.xcuserstate
SomePractice.xcworkspace/
Pods/
SomePractice.xcworkspace/

