SomePractice.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/dimash.xcuserdatad/xcschemes/xcschememanagement.plist
SomePractice.xcodeproj/project.xcworkspace/xcuserdata/dimash.xcuserdatad/UserInterfaceState.xcuserstate
SomePractice.xcworkspace/
Pods/
SomePractice.xcworkspace/

